<header>
  <img title="@{{user.screen_name}}: {{user.description}}" src="{{user.avatar}}">
</header>

<!--<a href="http://twitter.com/{{user.screen_name}}" title="{{user.description}}">@{{user.screen_name}}</a>: {{{renderedText}}}-->

<p>{{{renderedText}}}</p>

<footer>
  <nav>
    <ul>
      <li><a href="http://twitter.com/{{user.screen_name}}/status/{{id}}">Permalink</a></li>
    </ul>
  </nav>
</footer>
